@font-face {
	font-family: 'Rokkitt';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/rokkitt-400-normal.eot');
	src: local('Rokkitt Regular'), local('Rokkitt-Regular'), url('../fonts/rokkitt-400-normal.eot#iefix') format('embedded-opentype'), url('../fonts/rokkitt-400-normal.woff') format('woff'), url('../fonts/rokkitt-400-normal.svg#Rokkitt') format('svg');
}
@font-face {
	font-family: 'Rokkitt';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/rokkitt-700-normal.eot');
	src: local('Rokkitt Bold'), local('Rokkitt-Bold'), url('../fonts/rokkitt-700-normal.eot#iefix') format('embedded-opentype'), url('../fonts/rokkitt-700-normal.woff') format('woff'), url('../fonts/rokkitt-700-normal.svg#Rokkitt') format('svg');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/lato-300-normal.eot');
	src: local('Lato Light'), local('Lato-Light'), url('../fonts/lato-300-normal.eot#iefix') format('embedded-opentype'), url('../fonts/lato-300-normal.woff') format('woff'), url('../fonts/lato-300-normal.svg#Lato') format('svg');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/lato-400-normal.eot');
	src: local('Lato Regular'), local('Lato-Regular'), url('../fonts/lato-400-normal.eot#iefix') format('embedded-opentype'), url('../fonts/lato-400-normal.woff') format('woff'), url('../fonts/lato-400-normal.svg#Lato') format('svg');
}
