$primary-text-color: #2D3142;
$link-hover-color: #4F5D75;
$background-color: #2D3142;
$cv-background-color: #F5F0F6;
$header-bottom-line-color: #2D3142;
$section-separator-color: #BFC0C0;
$section-title-color: #4F5D75;

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
    border:0;
    font:inherit;
    font-size:100%;
    margin:0;
    padding:0;
    vertical-align:baseline;
}

// Import Google Fonts
@import "fonts/fonts";

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display:block;
}

html, body {
    background: $background-color;
    font-family: 'Lato',helvetica, arial, sans-serif;
    font-size: 16px;
    color: $primary-text-color;
}

article {
    ul {
        li {
            font-size: 1em;
            line-height: 1.4em;
            margin-bottom: 10px;
            color: $primary-text-color;
        }
    }
}

.clear {
    clear: both;
}

p {
    font-size: 1em;
    line-height: 1.4em;
    margin-bottom: 20px;
    color: $primary-text-color;
}

#cv {
    width: 90%;
    max-width: 800px;
    background: $cv-background-color;
    margin: 30px auto;
}

.mainDetails {
    padding: 25px 35px;
    border-bottom: 2px solid $header-bottom-line-color;
}

#name{ 
    h1 {
        font-size: 2.5em;
        font-weight: 700;
        font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
        margin-bottom: -6px;
    }
    h2 {
        font-size: 2em;
        margin-left: 2px;
        font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
    }
    float: left;
}

#mainArea {
    padding: 0 40px;
}

#headshot {
    width: 12.5%;
    float: left;
    margin-right: 30px;
    img {
        width: 100%;
        height: auto;
        -webkit-border-radius: 50px;
        border-radius: 50px;}
}


#contactDetails {
    float: right;
    ul {
        list-style-type: none;
        font-size: 0.9em;
        margin-top: 2px;
        li {
            margin-bottom: 3px;
            color: $primary-text-color;
            a:hover { 
                color: $link-hover-color;
            }
        }
    }
}

#contactDetails ul li a, a[href^=tel] {
    color: $primary-text-color; 
    text-decoration: none;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
}

article {
    border-top: 1px solid $section-separator-color;
    padding: 20px 0 0;

    &:first-child {
        border-top: 0;
    }

    &:last-child {
        padding: 20px 0 10px;
    }

    .articleTitle {
        float: left;
        width: 25%;
        h2 {
            font-style: italic;
            font-size: 1.5em;
            color: $section-title-color;
        }
    }
    .articleContent {
        float: right;
        width: 72.5%;
        h3 {
            font-size: 1.5em;
            margin-bottom: -2px;
        }
        ul {
            padding-left: 18px;
        }
    }
}

.subDetails {
    font-size: 0.8em;
    font-style: italic;
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: $primary-text-color;
    &:hover {
        color: $link-hover-color;
    }
}

.keySkills {
    h3 {
        font-size: 1.2em;
    }
}

.profile {
    a {
        color: $primary-text-color;
        text-decoration: none;
    }
}

@media all and (min-width: 602px) and (max-width: 800px) {
    #headshot {
        display: none;
    }

}

@media all and (max-width: 601px) {
    #cv {
        width: 95%;
        margin: 10px auto;
        min-width: 280px;
    }

    #headshot {
        display: none;
    }

    #name, #contactDetails {
        float: none;
        width: 100%;
        text-align: center;
    }

    .articleTitle, .articleContent {
        float: none;
        width: 100%;
    }

    .articleTitle {
        margin-left: -2px;
        font-size: 1.25em;
    }

}

@media all and (max-width: 480px) {
    .mainDetails {
        padding: 15px 15px;
    }

    article {
        padding: 15px 0 0;
    }

    #mainArea {
        padding: 0 25px;
    }


    #name h1 {
        line-height: .8em;
        margin-bottom: 4px;
    }
}

@media print {
    #cv {
        width: 100%;
    }
}

@page {
    margin-top: 0.4in;
    margin-bottom: 0.4in;
    margin-left: 0.4in;
    margin-right: 0.4in;    
}

@-webkit-keyframes reset {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes reset {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes fade-in {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes reset {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen {
    .instaFade {
        -webkit-animation-name: reset, fade-in;
        -webkit-animation-duration: 1s;
        -webkit-animation-timing-function: ease-in;

        -moz-animation-name: reset, fade-in;
        -moz-animation-duration: 1s;
        -moz-animation-timing-function: ease-in;

        animation-name: reset, fade-in;
        animation-duration: 1s;
        animation-timing-function: ease-in;
    }

    .quickFade {
        -webkit-animation-name: reset, fade-in;
        -webkit-animation-duration: 1.5s;
        -webkit-animation-timing-function: ease-in;

        -moz-animation-name: reset, fade-in;
        -moz-animation-duration: 1.5s;
        -moz-animation-timing-function: ease-in;

        animation-name: reset, fade-in;
        animation-duration: 1.5s;
        animation-timing-function: ease-in;
    }
}